.ButtonLink {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: var(--flag-white);
  background-color: var(--flag-red);
  border: 1px solid black;
  border-radius: 0.5rem;
}

.ButtonLink--style-details{
  width: 46%;
  height: 32%;
  margin-top: 9%;
  margin-bottom: 9%;
  margin-right: 2%;
  margin-left: 2%;
}

.ButtonLink:hover {
  transition-duration: 400ms;
  filter: brightness(77%);
  cursor: pointer;
}