.DetailsPage__grid-container {
  display: grid;
  grid-template-areas: "dsc btn img"
                       "amn lct rgn";
  grid-auto-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
}

.DetailsPage__description {
  grid-area: dsc;
  background-color: var(--flag-gold);
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.DetailsPage__buttons {
  grid-area: btn;
  color: var(--flag-red);
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.DetailsPage__buttons-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--flag-white);
  align-items: center;
  text-align: center;
} 

.DetailsPage__attraction-image {
  grid-area: img;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: fill;
}

.DetailsPage__amenities {
  grid-area: amn;
  color: var(--flag-red);
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.DetailsPage__amenities-list {
  position: absolute;
  padding-left: 2rem;
  padding-right: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  max-height: 70%;
  overflow-y: auto;
}

.DetailsPage__location {
  grid-area: lct;
  background-color: var(--flag-gold);
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%;
  padding-bottom: 4%;
}

.DetailsPage__directions-link {
  color: var(--flag-white);
  text-decoration-thickness: .2rem;
  text-decoration-color: var(--flag-red);
  text-underline-offset: .2rem;
} 

.DetailsPage__directions-link:visited {
  color: var(--flag-white);
}

.DetailsPage__directions-link:hover {
  color: var(--flag-red);
  transition-duration: 400ms;
  transition-timing-function: ease-in;
}

.DetailsPage__region {
  grid-area: rgn;
  color: var(--flag-red);
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%;
  padding-bottom: 4%;
}