.Facets {
  grid-area: dd;
  margin-left: 4rem;
}

/* Dropdown */
/* --------------------------------------- */

.Dropdown {
  margin-left: 10rem;
}

.Dropdown__contents {
  margin-left: 2rem;
  padding: 0;
  margin-top: 8px;
}

.Dropdown__icon {
  width: 10px;
  height: 10px;
  margin-left: 8px;
}

.Dropdown__title {
  color: var(--flag-gold);
  font-size: 20px;
}

/* Checkbox */
/* --------------------------------------- */

.Checkbox {
  font-size: 18px;
}

.Checkbox input[type=checkbox] {
  width: 1em;
  height: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: .5em;
}