@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Raleway:wght@100&display=swap");

:root {
  --flag-red: rgb(157, 34, 53);
  --flag-white: rgb(255, 255, 255);
  --flag-black: rgb(0, 0, 0);
  --flag-gold: rgb(234, 170, 0);
}

body {
  padding-top: 40px;
  font-family: "Open Sans";
  background-color: var(--flag-white);
  color: var(--flag-black);
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  margin-top: 4rem;
  color: var(--flag-black);
}

.container {
  margin-left: 7%;
  width: 86%;
}

.grid {
  display: grid;
  float: right;
  width: 77%;
  gap: 4rem;
  grid-template-areas: "what is even happening";
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  /* grid-auto-rows: 20rem; */
}

ul {
  list-style: none;
  white-space: nowrap;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

::-webkit-scrollbar-thumb:active {
  background: #111;
}
