.Marker {
  color: var(--flag-black);
  width: 1rem;
  aspect-ratio: 1 / 1;
  background-color: var(--flag-gold);
  border: 2px solid var(--flag-black);
  border-radius: 50%;
  display: inline-block;
}

.Marker--center {
  background-color: var(--flag-white);
  border-color: var(--flag-red);
}

.Marker:hover {
  background-color: var(--flag-black);
  border-color: var(--flag-gold);
  cursor: pointer;
  transition-duration: 400ms;
}

.Marker:active {
  filter: brightness(77%);
}

.Marker--center:hover {
  background-color: var(--flag-white);
  border-color: var(--flag-red);
  cursor: pointer;
}

.Marker--center:active {
  filter: unset;
}