.NavBar {
  position: fixed;
  background-color: var(--flag-red);
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.NavBar li {
  display: inline;
}

.NavBar__right {
  position: relative;
  font-size: 20px;
  font-family: "Montserrat";
  float: right;
  right: 20px;
}

.NavBar__item {
  margin: 12px;
}

.NavBar__link {
  color: var(--flag-white);
}

.NavBar__link:link {
  text-decoration: none;
}

.NavBar__link:hover {
  transition: 200ms;
  transition-timing-function: ease-in;
  color: var(--flag-gold);
}