.Popup {
  position: absolute;
  width: 50%;
  height: 30%;
  top: 50%;
  left: 50%;
  font-size: 16px;
  padding: 2rem;
  border-radius: 2rem;
  transform: translate(-50%, -50%);
  background-color: var(--flag-white);
  box-shadow: 0 0 0 2000px rgba(0,0,0,.3);
  box-shadow: 0 0 0 100vmax rgba(0,0,0,.3);
  animation: fadein 0.2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.Popup__title {
  font-size: 30px;
  margin: 0;
}

.Popup__close-button {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1rem;
  right: 1rem;
  background-color: var(--flag-gold);
  border: 2px solid black;
  border-radius: 50%;
}

.Popup__close-button:hover {
  background-color: var(--flag-black);
  border-color: var(--flag-gold);
  color: var(--flag-gold);
  cursor: pointer;
  transition-duration: 400ms;
}

.Popup__close-button:active {
  filter: brightness(77%);
}

.Popup__contents-container {
  display: grid;
  height: 80%;
  width: 100%;
  grid-template-areas: "im tx"
                       "bt tx";
  grid-auto-columns: 32% 64%;
  column-gap: 4%;
}

.Popup__image {
  position: relative;
  grid-area: im;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: fill;
}

.Popup__button {
  grid-area: bt;
}

.Popup__text {
  grid-area: tx;
}

.Popup__address {
  margin: 0;
  color: var(--flag-red);
}

