.Preview {
  color: var(--flag-gold);
}

.Preview img {
  /* object-fit: cover; */
  width: 256px;
  max-height: 256px;
  margin-bottom: 8px;
}

.Preview img:hover {
  -webkit-filter: brightness(60%);
  -webkit-transition: all 0.777s ease;
  -moz-transition: all 0.777s ease;
  -o-transition: all 0.777s ease;
  -ms-transition: all 0.777s ease;
  transition: all 0.777s ease;
  filter: brightness(60%);
}

.Preview__col1 {
  grid-area: pvc1;
}

.Preview__col2 {
  grid-area: pvc2;
}

.Preview__description {
}

.Preview__city {
  color: var(--flag-black);
  margin-bottom: 8px;
}
