.Preview {
  color: var(--flag-gold);
}

.Preview img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.Preview img:hover {
  -webkit-filter: brightness(60%);
  -webkit-transition: all 0.777s ease;
  -moz-transition: all 0.777s ease;
  -o-transition: all 0.777s ease;
  -ms-transition: all 0.777s ease;
  transition: all 0.777s ease;
  filter: brightness(60%);
}

.Preview__city {
  color: var(--flag-red);
}
