@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-title {
    @apply my-5 flex items-center justify-center font-montserrat text-4xl;
  }
  .content-body-container {
    @apply container mx-auto px-8 py-12 sm:px-12 md:px-16 lg:px-20 xl:px-24 2xl:px-28;
  }
}

body {
  scrollbar-gutter: stable;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:active {
  background: #444;
}
