@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .content-body-container {
    @apply container px-[8%] pt-[4%] pb-16;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:active {
  background: #444;
}
