@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-title {
    @apply flex h-16 items-center justify-center font-montserrat text-4xl;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:focus {
  outline: none;
}
